
RewriteEngine on
# Enforce hostname selection
RewriteCond %{SERVER_NAME} ^www.elswh.re$
RewriteRule ^.*$ http://elswh.re%{REQUEST_URI} [L,R=301]

# pipe any request for a file that does not exist through bootstrap
RewriteCond %{IS_SUBREQ} false
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^.*$ redirector.php [L]
